@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #242424;
    font-weight: normal;
}

h1{
    font-weight: 100;
    font-size: 2rem;
   /*color: #8c8c8c;*/
    color: #00ff00;

}

.retangulo{
    display: flex;
    min-width: 386px;
    max-width: 600px;
    width: 100%;
    height: 100px;
    border: 1px solid #00ff00;
    text-align: left;
    align-items: center;
    border-radius: 5px;
    margin: 1rem;
    padding: .5rem;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}